/*
* Global
*/
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.logo {
    text-align: center;
}

.logo img {
    width: 30vw;
    margin-bottom: 10px;
}

main {
    padding-bottom: 50px;
}

main.mui-container-fluid {
    margin-right: 15px;
    margin-left: 0;
}

a {
    color: #00AAE7;
}

h1 {
    color: #004E85;
    margin-top: 10px;
}

footer {
    background-color: #004E85;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

footer a {
    color: white;
}

.footer {
    color: white;
    text-align: center;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1170px;
    margin:auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-even {
    justify-content: space-evenly;
}

.flex-between {
    justify-content: space-between;;
}

.flex-justify-center {
    justify-content: center;
}

.mui-btn--primary {
    color: #FFFFFF;
    background-color: #00AAE7;
}

#countdownWarning {
    text-align: center;
    color: #BA2234;
}

/*
* Page Specific
*/

/* Index */
.index {
    display: block;
    text-align: center;
}

#indexMessage p, #maintenanceMessage p {
    font-size: 20px;
    margin: 50px 0px;
}

#indexMessage #pwMessage {
    font-size: 12px;
    margin: 10px 0px;
}

#pw label {
    margin-right: 10px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Campus */
#meet {
    display: flex;
    justify-content: center;
    position: relative;
    height: 0;
    padding-bottom: 60vh;
}

#meet iframe {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    display: flex;
}

.hide {
    display: none !important;
}

form.dropzone {
    border: none;
    width: 100%;
    min-height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#files {
    list-style-type: none;
    padding-left: 0px;
}

#featureTabs {
    min-height: 250px;
    margin-top: 60px;
}

#featureTabs > ul {
    margin-bottom: 5px;
}

#featureTabs > ul > li > a {
    padding: 0 10px;
}

#tab-info img {
    width: 100%;
}

#main-page-buttons form:nth-child(2){
    /* padding: 0 26px; */
    margin-left: 8px;
}

.grid-buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

/* Timer */
.flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flex-component {
    display: flex;
    justify-content: space-evenly;
}

.timer-display {
    align-self: center;
    font-size: 20px;
    letter-spacing: 1px;
}

#timerForm {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: space-evenly;
}

#timerForm .mui-select {
    display: flex;
    align-content: center;
    padding-top: 0;
}

#timerForm .mui-select .time-select {
    width: 50px;
    padding-left: 5px;
}

/* Prep Timers */
#prepTimers form {
    margin: 10px 0;
}

.no-debate-timers {
    display: none;
}

#tab-timer .mui-select label {
    position: relative;
    align-self: center;
    padding: 0 5px;
}

#mainTimer {
    display: flex;
    justify-content: space-evenly;
}

#mainTimerDisplay {
    margin-top: 20px;
    margin-bottom: 5px;
}

#timerReset {
    margin-left: 0 !important;
}

.mui-btn--accent {
    background-color: #004E85;
}

@media screen and (max-width: 767px) {
    .flex-row {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }

    #timerContainer {
        min-height: 180px;
    }

    .timer-display {
        margin: 0 2px;
    }

    #timerForm .mui-select {
        display: flex;
        align-content: center;
        padding-top: 0;
    }

    #timerForm .mui-select .time-select {
        width: 50px;
        padding-left: 5px;
    }

    #tab-timer .mui-select label {
        position: relative;
        align-self: center;
        padding: 0 5px;
    }

    .flex-component {
        display: flex;
    }

    .flex-component .mui-select:first-child {
        margin-right: 20px;
    }

    #timerContainer .mui-select > label {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 768px) {
    .mui-col-md-8 {
        width: 100% !important;
    }

    #featureTabs {
        margin: 0 15px;
        width: auto;
        margin-bottom: 15px;
    }
}

#timerWarning {
    font-size: 10px;
}

/* File Share */
#files li button {
    border: none;
    background-color: inherit;
    color: #00AAE7;
    cursor: pointer;
}

#files li button:focus {
    outline: none;
}

/* Contact */
#contactForm p:last-child {
    margin-top: 10px;
    font-style: italic;
}

#supportEmail {
    cursor: pointer;
}

/* Warning Banner */
.alert-div {
    cursor: pointer;
}

.alert-div:hover::after {
    background: hsla(0, 0%, 0%, 0.8);
    border-radius: 3px;
    color: #F6F6F6;
    content: 'Click to dismiss';
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 120px;
}

.alert-div:hover::before {
    border-bottom: 10px solid hsla(0, 0%, 0%, 0.8);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 40px;
    width: 0;
}

.alert-div:target {
    display: none;
}

.alert {
    background-color: #00AAE7;
    background-image:
        -webkit-linear-gradient(135deg,
            transparent,
            transparent 25%,
            hsla(0, 0%, 0%, 0.05) 25%,
            hsla(0, 0%, 0%, 0.05) 50%,
            transparent 50%,
            transparent 75%,
            hsla(0, 0%, 0%, 0.05) 75%,
            hsla(0, 0%, 0%, 0.05));
    background-image:
        -moz-linear-gradient(135deg,
            transparent,
            transparent 25%,
            hsla(0, 0%, 0%, 0.1) 25%,
            hsla(0, 0%, 0%, 0.1) 50%,
            transparent 50%,
            transparent 75%,
            hsla(0, 0%, 0%, 0.1) 75%,
            hsla(0, 0%, 0%, 0.1));
    background-image:
        -ms-linear-gradient(135deg,
            transparent,
            transparent 25%,
            hsla(0, 0%, 0%, 0.1) 25%,
            hsla(0, 0%, 0%, 0.1) 50%,
            transparent 50%,
            transparent 75%,
            hsla(0, 0%, 0%, 0.1) 75%,
            hsla(0, 0%, 0%, 0.1));
    background-image:
        -o-linear-gradient(135deg,
            transparent,
            transparent 25%,
            hsla(0, 0%, 0%, 0.1) 25%,
            hsla(0, 0%, 0%, 0.1) 50%,
            transparent 50%,
            transparent 75%,
            hsla(0, 0%, 0%, 0.1) 75%,
            hsla(0, 0%, 0%, 0.1));
    background-image:
        linear-gradient(135deg,
            transparent,
            transparent 25%,
            hsla(0, 0%, 0%, 0.1) 25%,
            hsla(0, 0%, 0%, 0.1) 50%,
            transparent 50%,
            transparent 75%,
            hsla(0, 0%, 0%, 0.1) 75%,
            hsla(0, 0%, 0%, 0.1));
    background-size: 20px 20px;
    box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.1);
    color: #F6F6F6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    left: 0;
    width: 100%;
    -webkit-animation: alert 1s ease forwards;
    -moz-animation: alert 1s ease forwards;
    -ms-animation: alert 1s ease forwards;
    -o-animation: alert 1s ease forwards;
    animation: alert 1s ease forwards;
}

@keyframes alert {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 0;
    }
}